.jfxbuttons {
    -fx-spacing: 10.0px;
}

.jfxbutton {
  -fx-border-radius: 6.0px;
  -fx-border-width: 2.0px;
  -fx-border-style: solid;
  -fx-border-color: #fff;
  -fx-background-color: none;
  -fx-text-fill: #fff;
  -fx-fill-width: true;
  -fx-pref-width: 110.0px;
  -fx-cursor: pointer;
  -fx-padding: 10.0px 10.0px 10.0px 37.0px;
  -fx-font-size: 20.0px;

}