* {
	-fx-font-family: 'Varela Round';
}
	

.jfxbutton{
	-fx-content-display: center;
}

#title {
	-fx-padding: 0.0 0.0 0.0 0.0;
	-fx-font-size: 24.0px;
	-fx-alignment: center;
	-fx-text-fill: #00695C;
}

#time {
	-fx-content-display: center;
	-fx-font-size: 70.0px;
	-fx-letter-spacing: 10.0px;
	-fx-alignment: center;
	-fx-text-fill: #00695C;
}

.lblSessionAndGoals {
	-fx-alignment: center;
	-fx-font-size: 18.0px;
	-fx-content-display: center;
	-fx-text-fill: #00695C;
}

.lblPomodoroSetting{
	-fx-font-size: 14.0px;
	-fx-font-family: 'Varela Round';
}